* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a:hover {
    text-decoration: none !important;
}

header#navbar {
    border-bottom: 1px solid #d9d9d9;
}

.navbar-brand {
    width: 25%;
    text-align: center;
}

header {
    padding: 20px 0px;
}

header nav h1 {
    font-weight: 700;
    font-size: 33px;
}

header nav .collapse a {
    color: #00193a !important;
    font-weight: 500;
    padding: 15px 17px !important;
    text-transform: uppercase;
}

header nav .btn-elemento-light-blue {
    display: none;
}

header nav h1 span {
    font-weight: 400;
}

header nav.navbar {
    padding: 0px !important;
}

header nav .collapse {
    /*margin-left: 98px;*/
}

header nav .collapse img {
    max-width: 24px;
    float: left;
}

header nav .collapse .navbar-nav a:last-child {
    padding: 14px 15px!important;
    border-radius: 2.25rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #007bff !important;
}

header nav .collapse .navbar-nav .btn-outline-primary:hover {
    color: #fff !important;
}

header nav .collapse .navbar-nav .btn-outline-primary:focus {
    box-shadow: none !important;
}

header nav .collapse button:focus {
    box-shadow: unset !important;
}
.im-checkout-btn.btn--flat {
    background: #00e6ac !important;
    color: #fff !important;

}
.im-checkout-btn.btn--flat:focus, .im-checkout-btn.btn--flat:hover{
    -webkit-box-shadow: 4px 4px 8px #aaaaaa !important;
    -moz-box-shadow: 4px 4px 8px #aaaaaa !important;
    box-shadow: 4px 4px 8px #aaaaaa !important;
}
.checkoutContainerPadding {
    padding: 92px 0 10px 0;
}
.checkout1 .row {
    width: 100%;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.checkout1 .col-md-8 {
    padding: 30px;
}

.checkout1 .row .col-md-8 #next-form {
    display: none;
}

.checkout1 .row .col-md-8 .col-md-6 {
    text-align: center;
}

.checkout1 .col-md-6 label {
    font-size: 20px;

    letter-spacing: 0.2px;
    color: #0f69e3;
    text-shadow: none;
    line-height: 2;
    font-weight: 600;
}

.elemento-header {
    padding: 25px 0px;
    border-bottom: 1px solid #d9d9d9;
}

.elemento-header .elemento {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #00193a;
    text-align: center;
}

.elemento-header span {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -0.5px;
    color: #00193a;
}

section.checkout1 aside {
    background-color: #fafafa;
    padding-bottom: 70px;
}

section.checkout1 aside .card {
    margin-right: 100px;
    border-top-right-radius: 10px;
    background-color: #ffffff;
    border: solid 1px #d9d9d9;
    overflow: hidden;
    padding-bottom: 30px;
}

section.checkout1 aside .card img:nth-child(2) {
    position: absolute;
    top: 95px;
    width: 80px;
    right: 240px;
}

section.checkout1 aside .card span {
    padding: 24px 24px 0px 24px;
    display: block;
}

section.checkout1 aside.col-md-4>p {
    font-weight: 500;
    font-size: 20px !important;
    letter-spacing: 0.3px;
    color: #00193a;
    margin: 24px 7px;
    font-size: 16px;
}

section.checkout1 aside.col-md-4 span p:nth-child(1) {
    opacity: 0.6;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.1px;
    color: #00193a;
    margin-bottom: 0px;
}

section.checkout1 aside.col-md-4 span p:nth-child(2) {
    font-size: 15px;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 0.1px;
    color: #00193a;
    margin-bottom: 0px;
}

section.checkout1 .col-md-8>.row>.col-md-6:first-child {
    display: none;
}

section.checkout1 .col-md-6 form span {
    position: absolute;
    display: block;
    opacity: 0.6;
    top: 3px;
    left: 35px;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #00193a;
}

section.checkout1 .col-md-6 form select {
    border-radius: 28px;
    background-color: #ffffff;
    border: solid 1px #c0c6ce;
    padding: 18px 10px 16px 16px;
    height: auto !important;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #00193a;
}

.proceed {
    display: none;
}

footer {
    background-color: #fff;
    padding-top: 70px;
}

footer .container .col-8 h1 {
    font-weight: 600;
    font-size: 35px;
}

footer .container .col-8 h1 span {
    font-weight: 300;
}

footer .container .col-8 .col-6 ul {
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.6;
    line-height: 1.6;
    letter-spacing: 0.2px;
    color: #00193a;
}

footer .container .col-8 .col-6 ul li {
    list-style: none;
}

footer .container .col-8 .col-6 ul li a {
    color: #00193a;
}

footer .container .col-8 .col-6 ul li a:hover {
    color: #007bff;
}

footer .container .col-4 {
    text-align: center;
    margin-bottom: 40px;
}

footer .container .col-4 p {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: center;
    color: #00193a;
}

footer .container .col-4 p span {
    display: block;
    color: #0f69e3;
}

footer .container .col-4 p strong {
    color: #00e6ac;
    display: none;
}

footer form .has-success {
    display: block !important;
}

footer form .has-warning {
    display: none !important;
}

footer .container .col-4 .sbscribe:after {
    content: '';
    display: block;
    clear: both;
}

footer .container .col-4 .sbscribe {
    text-align: left;
    border: 2px solid #eee;
    padding: 14px 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 100%
}

footer .container .col-4 .sbscribe:focus div.add-email {
    display: none;
}

footer .container .col-4 .sbscribe:focus div.subs-email {
    display: block;
}

footer .container .col-4 div div.add-email {
    float: right;
    color: #ffffff;
    background-color: #0f69e3;
    border-radius: 77px;
    display: block;
    padding: 3px 7px;
    font-size: 20px;
    position: absolute;
    right: 23px;
    border: none;
    top: 72px;
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: none;
}

footer .container .col-4 div div.subs-email {
    float: right;
    display: none;
    color: #ffffff;
    background-color: #00e6ac;
    border-radius: 77px;
    padding: 4px 8px;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 71px;
    border: none;
}

footer .container .col-4 div i {
    position: relative;
    top: 3px;
}

footer .container .col-4 .social {
    padding: 20px 0px;
    color: #fff;
}

footer .container .col-4 .social span {
    margin: 0px 10px;
}

footer .container .col-4 .social span:first-child {
    background-color: #34589D;
    padding: 18px 23px;
    border-radius: 50px;
}

footer .container .col-4 .social span:nth-child(2) {
    background-color: #55ACEE;
    padding: 19px 20px;
    border-radius: 50px;
}

footer .container .col-4 .social span:nth-child(3) {
    background-color: #DC4E41;
    padding: 18px 17px;
    border-radius: 50px;
}

footer .container .col-4 .social span:last-child {
    background-color: #BD081C;
    padding: 18px 21px;
    border-radius: 50px;
}

footer .copy {
    background-color: #f2f3f5;
}

footer .copyright {
    padding: 20px 0px;
    margin-bottom: 0px;
    opacity: 0.6;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.2px;
    text-align: center;
    color: #00193a;
}




/*-----------------checkout-full----------------------*/

.full-length {
    border-radius: 28px;
    background-color: #ffffff;
    border: solid 1px #00193a;
    padding: 18px 10px 16px 16px;
    height: auto !important;
    font-size: 16px;
    opacity: 0.55;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #00193a;
    width: 100%;
}

.form-select {
    border-radius: 28px;
    background-color: #ffffff;
    border: solid 1px #c0c6ce;
    padding: 18px 10px 16px 16px;
    height: auto !important;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #00193a;
    width: 100%;
    float: right;
    position: relative;
    bottom: 17px;
}

.zcode {
    border-radius: 28px;
    background-color: #ffffff;
    border: solid 1px #00193a;
    padding: 18px 10px 16px 16px;
    height: auto !important;
    font-size: 16px;
    opacity: 0.55;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #00193a;
    width: 100%;
    float: left;
}

.coupan {
    border-radius: 28px;
    background-color: #ffffff;
    border: solid 1px #00193a;
    padding: 18px 10px 16px 16px;
    height: auto !important;
    font-size: 16px;
    opacity: 0.55;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #00193a;
    width: 100%;
    float: right;
}

span.shipping {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: rgb(15, 105, 227);
    font-weight: 600;
}

.state {
    position: relative;
    display: block;
    opacity: 0.6;
    top: 8px;
    z-index: 10;
    left: 21px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #00193a;
}

.cc {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    margin-top: 20px;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: rgb(15, 105, 227);
}

.form-group.half {
    width: 50%;
    float: left;
}

.lname {
    border-radius: 28px;
    background-color: #ffffff;
    border: solid 1px #00193a;
    padding: 18px 10px 16px 16px;
    height: auto !important;
    font-size: 16px;
    opacity: 0.55;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #00193a;
    width: 98%;
}

.fname {
    border-radius: 28px;
    background-color: #ffffff;
    border: solid 1px #00193a;
    padding: 18px 10px 16px 16px;
    height: auto !important;
    font-size: 16px;
    opacity: 0.55;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #00193a;
    width: 98%;
}

.number {
    border-radius: 28px;
    background-color: #ffffff;
    border: solid 1px #00193a;
    padding: 18px 10px 16px 16px;
    height: auto !important;
    font-size: 16px;
    opacity: 0.55;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #00193a;
    width: 98%;
}

.email {
    border-radius: 28px;
    background-color: #ffffff;
    border: solid 1px #00193a;
    padding: 18px 10px 16px 16px;
    height: auto !important;
    font-size: 16px;
    opacity: 0.55;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #00193a;
    width: 98%;
}

a.btn.btn-buy {
    border-radius: 28px;
    background-color: rgb(0, 230, 172);
    color: #ffffff;
    width: 100%;
    margin-top: 25px;
    padding: 10px;
}

.al_box span {
    padding: 0px !important;
    display: unset !important;
    position: relative;
    bottom: 7px;
}

.coupon i {
    position: absolute;
    right: 24px;
    background-color: #d9d9d9;
    top: 8px;
    padding: 10px;
    border-radius: 28px;
    color: #fff;
}

.coupon>span {
    display: none;
    font-size: 15px;
    position: absolute;
    bottom: 70px;
    left: 200px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: center;
    color: #00e6ac;
}

.coupon p {
    opacity: 0.6;
    display: none;
    position: absolute;
    left: 39px;
    font-size: 12px;
}

.coupon .subs-coupon {
    display: none;
}

.coupon .has-success {
    display: block !important;
}

#next-form>.row .row:last-child .col-md-12 {
    border-top: 1px solid #bfc5cd;
    padding-top: 40px;
    margin-top: 20px;
}

table .has-success {
    display: table-row !important;
}

.coupon .has-warning {
    display: none !important;
}

#cart {
    display: none;
}

.cart {
    margin: 0px 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    opacity: 0.6;
    font-weight: 500;
    padding-bottom: 15px;
    line-height: 1.38;
    letter-spacing: 0.1px;
    color: #00193a;
}

table tr.discount {
    display: none;
}

table td {
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.1px;
    color: #00193a;
    text-align: right;
}

p.al_box {
    margin-bottom: 0rem !important;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.1px;
    color: #a4acb8;
}

th {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.1px;
    color: rgb(0, 25, 58);
}

option {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.1px;
    color: #000000 !important;
}

.us {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.1px;
    color: rgb(0, 25, 58);
}

.chkimg {
    background: linear-gradient(0deg, #0000008c, #0000008c), url(../images/checkout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.chkimg img {
    max-width: 80px;
    margin: 0px auto;
    padding: 20px 0px;
}

.btn-elemento-light-blue {
    border-radius: 45px;
    background-color: #0f69e3;
    border: none;
    color: #fff;
    padding: 20px 30px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
}

.shiping {
    display: none;
}

@media (max-width: 414px) {
    .shiping {
        display: block;
    }
    .sticky+.checkout1 {
        padding-top: 70px;
    }
    .navbar-brand {
        width: 45%;
        text-align: center;
    }
    footer .copy {
        position: absolute;
        bottom: -800px;
        width: 100%;
    }
    .checkout1 .col-md-8 {
        padding: 0px 0px 20px 0px;
    }
    #next-form>.row .row:last-child .col-md-12 {
        border-top: unset;
        padding-top: 0px;
        margin-top: 0px;
    }
    .coupon>span {
        left: 228px;
    }
}

