* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Montserrat', sans-serif;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
ul li{
	margin-bottom: 10px;
}
h1 {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
header{
  padding: 20px 0px;
}
header nav h1 {
    font-weight: 700;
    font-size: 33px;
}
header nav .collapse a {
    color: #00193a !important;
    font-weight: 500;
    padding: 10px 20px !important;
    text-transform: uppercase;
}
header nav h1 span {
    font-weight: 400;
}
header nav.navbar{
    padding: 0px !important;
}
header nav .collapse {
    /*margin-left: 98px;*/
}
header nav .collapse img {
    max-width: 24px;
    float: left;
}
header nav .collapse .navbar-nav a:last-child {
    padding: 14px 15px!important;
    border-radius: 2.25rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #007bff !important;
}
header nav .collapse .navbar-nav .btn-outline-primary:hover{
    color: #fff !important;
}
header nav .collapse .navbar-nav .btn-outline-primary:focus{
    box-shadow: none !important;
}
header nav .collapse button:focus{
    box-shadow: unset !important;
}
.sticky {
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
}
.sticky + .banner {
  padding-top: 100px;
}
section.banner h1{
	font-size: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.58);
}
section.banner:after {
    content: '';
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: 75px;
}
section.about {
    margin: 80px 0px;
}
section.about .col-6:first-child h1 {
    font-weight: 700;
    margin-bottom: 20px;
}
section.about .col-6:first-child p {
    font-weight: 500;
    margin-bottom: 20px;
}
section.about .col-6:last-child {
    text-align: center;
}
section.about .col-6 img {
    max-width: 265px;
    margin: 0px auto;
}
section.elemento-box {
    text-align: center;
    padding: 50px 0px;
    background-color: #00193A;
}
section.elemento-box h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: rgb(255, 255, 255);
}
section.elemento-box p {
    color: #5F6E82;
    text-transform: inherit;
}
section.elemento-box p:after {
    position: relative;
    display: block;
    text-align: center;
    left: 43%;
    width: 100px;
    margin: 20px 2%;
    border: 2px solid #40526B;
    border-radius: 1px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
section.elemento-box .col-8 .row {
    margin: 20px 0px;
}
section.elemento-box .row .col-4 img {
    max-width: 200px;
}
section.elemento-box .row .col-4 {
    padding: 50px 0px;
    position: relative;
    z-index: 1;
}
section.elemento-box .row .col-4 h3 {
    font-size: 165px;
    position: absolute;
    background-image: linear-gradient(to top right, #1a53d8, #603896, #ab40bf);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Cantarell', sans-serif;
    z-index: -1;
    top: -35px;
    display: block;
    left: -50px;
}
section.elemento-box .row .col-8 {
    border-bottom: 1px solid #586575;
    padding: 50px 0px;
}
section.elemento-box .row:last-child .col-8 {
    border: none;
}
section.elemento-box .row .col-8 h3 {
    color: #9D5494;
    text-transform: inherit;
    font-size: 35px;
    font-weight: 300;
    text-align: left;
}
section.elemento-box .row .col-8 ul:after {
    clear: both;
    content: '';
    display: block;
}
section.elemento-box .row .col-8 ul li {
    color: #CCD1D7;
    text-align: left;
    list-style: none;
}
section.elemento-box .row .col-8 i {
    position: relative;
    top: 6px;
    right: 5px;
    color: #0F69E3;
}
section.elemento-box .row .col-8 a {
    float: left;
    color: #fff;
    text-transform: uppercase;
}
section.elemento-box .row .col-8 a:hover {
    text-decoration: none;
    color: #864A86;
}
section.elemento-box .buy-now{
	border-radius: 8px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.33);
  position: relative;
  top: 100px;
  z-index: 100;
  background-color: #fff; 
  padding: 20px 20px;
  text-align: left; 
}
section.elemento-box .buy-now p{
	margin-bottom: 0px; 
}
section.elemento-box .buy-now h4{
	margin-bottom: 0px; 
	font-weight: 500;
	font-size: 25px;
}
section.elemento-box .buy-now p:after{
	margin-bottom: 0px;
	border: none;
	margin: 0px;
}
section.elemento-box .buy-now .col-6 .btn-buy{
	display: inline-block;
    background-color: rgb(15, 105, 227);
    padding: 15px 95px !important;
    color: #fff;
    float: right;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
section.purchase{
	background-color: #FAFAFA;
	padding-top: 125px;
	padding-bottom: 40px;	
}
section.purchase .col-6 h2{
	margin-bottom: 40px;
	font-size: 25px;
	font-weight: 600;
}
section.purchase .col-6 img{
    position: relative;
    right: 37px;
    bottom: 10px;
   	max-width: 450px;
    float: right;
}
section.purchase .col-6 h2 span{
	color: #0f69e3;
}
section.purchase .col-6 ul{
	margin-left: 25px
}
section.purchase .col-6 ul li{
	list-style: none;
	text-indent: -14px;
}
section.purchase .col-6 ul li i{
	position: relative;
    top: 6px;
    right: 5px;
}
.btn-elemento-light-blue{
    border-radius: 45px;
    background-color: #0f69e3;
    border: none;
    color: #fff;
    padding: 20px 30px;
    font-weight: 600;  
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
}
.btn-elemento-light-blue img{
    max-width: 24px;
    float: left;
    margin-right: 5px;
}

section.project{
	padding: 70px 0px;
	background-color: #fff;
	background-image: radial-gradient(#eee 15%, transparent 15%);
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px;
}
section.project h1{
    font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: rgb(0, 25, 58);
}
section.project .row .col-4{
	margin-top: 30px;
}
section.project .card-panel{
	background-color: #fff;
	border: 2px solid #eee;
	border-top-right-radius: 25px;
}
section.project .body{
	padding: 20px;
}
footer{
    background-color: #fff;
    padding-top: 70px;
}
footer .container .col-8 h1{
    font-weight: 600;
    font-size: 35px;
}
footer .container .col-8 h1 span{
    font-weight: 300;
}
footer .container .col-8 .col-6 ul{
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.6;
    line-height: 1.6;
    letter-spacing: 0.2px;
    color: #00193a;
}
footer .container .col-8 .col-6 ul li{
    list-style: none;
}
footer .container .col-8 .col-6 ul li a{
    color: #00193a;
}
footer .container .col-8 .col-6 ul li a:hover{
    color: #007bff;
}
footer .container .col-4{
    text-align: center;
    margin-bottom: 40px;
}
footer .container .col-4 p{
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: center;
    color: #00193a;
}
footer .container .col-4 p span{
    display: block;
    color: #0f69e3;
}
footer .container .col-4 .sbscribe:after{
    content: '';
    display: block;
    clear: both;
}
footer .container .col-4 .sbscribe{
    text-align: left;
    border: 2px solid #eee;
    padding: 14px 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 100%
}
footer .container .col-4 .sbscribe:focus span.add-email{
    display: none;
}
footer .container .col-4 .sbscribe:focus span.subs-email{
    display: block;
}
footer .container .col-4 div span.add-email{
    float: right;
    color: #ffffff;
    background-color: #0f69e3;
    border-radius: 77px;
    display: block;
    padding: 1px 12px;
    font-size: 25px;
    position: absolute;
    right: 23px;
    top: 72px; 
}
footer .container .col-4 div span.subs-email{
    float: right;
    display: none;
    color: #ffffff;
    background-color: #0f69e3;
    border-radius: 77px;
    padding: 1px 14px;
    font-size: 25px;
    position: absolute;
    right: 23px;
    top: 72px;
}
footer .container .col-4 .social{
    padding: 20px 0px;
    color: #fff;
}
footer .container .col-4 .social span{
    margin: 0px 10px;
}
footer .container .col-4 .social span:first-child{
    background-color: #34589D;
    padding: 18px 23px;
    border-radius: 50px;
}
footer .container .col-4 .social span:nth-child(2){
    background-color: #55ACEE;
    padding: 19px 20px;
    border-radius: 50px;
}
footer .container .col-4 .social span:nth-child(3){
    background-color: #DC4E41;
    padding: 18px 17px;
    border-radius: 50px;
}
footer .container .col-4 .social span:last-child{
    background-color: #BD081C;
    padding: 18px 21px;
    border-radius: 50px;
}
footer .copy{
    background-color: #f2f3f5;
}
footer .copyright{
    padding: 20px 0px;
    margin-bottom: 0px;
    opacity: 0.6;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.2px;
    text-align: center;
    color: #00193a;
}
button.nav-item.btn.btn-outline-primary {
    position: relative;
    left: 18px;
}
.navbar-nav{
	position: relative;
    top: 5px;
}
button.nav-item.btn.btn-outline-primary {
    position: relative;
    top: -3px;
}
li.boxes
{
  font-size: 16px;
  font-weight: 500;
  line-height: 2.38;
  letter-spacing: 0.1px;
  color: rgb(255, 255, 255);
  text-align: left;
}
p.box-1{
  font-size: 24px;
  letter-spacing: 0.2px;
  color: rgb(0, 230, 172) !important;
  text-align: left;
}
.mask1
{
  border-top-right-radius: 10px;
  border: solid 1px rgb(15, 105, 227);
}
.mask2{
  border-top-right-radius: 10px;
  border: solid 1px rgb(15, 105, 227);
  padding-bottom:55px;
}
.mask3{
  border-top-right-radius: 10px;
  border: solid 1px rgb(15, 105, 227);
  margin-top: 28px;
}
ol{
  padding:0px 36px 
}
p.box-1 {
  padding: 10px 20px;
}
p.box-1 {
  position: relative;
  top: 15px;
}
p.box-2 {
  position: relative;
  top: 15px;
}
p.box-3 {
  position: relative;
  top: 15px;
}
li.footer-sec{
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.2px;
  color: rgb(112, 112, 112);
}
p.footer-mail{
    font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: rgb(112, 112, 112);
  position: relative;
  top: 5px;
  left: 8px;
}
h4.footer-mail-address{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  top: 5px;
  left: 8px;
}
p.subscribe{
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(112, 112, 112);
}
.card-panel-02{
  background-color: #fff;
  border: 2px solid #eee;
  border-top-right-radius: 25px;
  padding-bottom: 24px;
}
.card-panel-6
{
  background-color: #fff;
  border: 2px solid #eee;
  border-top-right-radius: 25px;
  padding-bottom: 24px;
}
.card-panel img{
  border-top-right-radius: 25px;
}
.card-panel-02 img{
  border-top-right-radius: 25px;
}

section.select-program h1{
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 20px;
}
section.select-program p{
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.1px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-bottom: 25px;
}
section.select-program{
  background-color: rgb(0, 25, 58);
}
.jprogram{
  width: 100%;
}
.jp-image{
  width: 50%;
}
.jp-text h3{
  font-family: Montserrat;
  font-size: 44px;
  font-weight: bold;
  text-align: right;
  color: rgb(0, 25, 58);
  position: relative;
  top: 90px;
  right: 60px;
}
.jp-image img{
  position: relative;
  top: 50px;
  left: 50px;
  width: 220px;
}
.col-md-6.nm p{
  font-size: 16px;
  font-weight: 500;
  line-height: 2.38; 
  letter-spacing: 0.1px;
  color: rgb(0, 25, 58);
}
.col-md-6.nm {
  padding-top: 100px;
}
.col-md-6.mn {
  padding-top: 145px;
  text-align: center;
  padding-right: 60px;
}
.col-md-4.l h3{
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.3px;
  color: rgb(255, 255, 255);
  position: relative;
  right: 30px;

}
.col-md-4.l p{
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: rgb(255, 255, 255);
  position: relative;
  right: 45px
}
.col-md-4.l {
  padding-top: 100px;
  text-align: right;
}
span.callus {
  position: relative;
  right: 50px;
  color: #6f85a0;
}
span.callus-2 {
  color: #6f85a0;
}
button.nav-item.btn.btn-outline-primary.bottom{
  border-radius: 28px;
  margin-top: 20px;
  border: solid 1px rgb(255, 255, 255);
}
button.nav-item.btn.btn-outline-primary.one {
  width: 150px;
  height: 56px;
  border-radius: 28px;
  background-color: rgb(15, 105, 227);
}
button.nav-item.btn.btn-outline-primary.two {
  width: 150px;
  height: 56px;
  border-radius: 28px;
  background-color: rgb(191, 96, 167);
  border: none;
}
.col-md-4.m {
  position: relative;
  top: 130px;
}
.gradient1{
  background-image: linear-gradient(89deg, rgb(0, 211, 157), rgb(15, 105, 227));
  width: 100%;
  border-radius-bottom: 10px;
  height: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.gradient2{
  background-image: linear-gradient(269deg, rgb(191, 96, 167), rgb(255, 115, 56));
  width: 570px;
  position: relative;
  right: 15px;
  border-radius-bottom: 10px;
  height: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.jprogram p{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: 0.1px;
  text-align: right;
  color: rgb(0, 25, 58);
}
hr {
    border: 1px solid;
    color:#506077;
    width: 6%;
    margin-left: 518px;
    margin-top: -44p;
    position: relative;
    bottom: 10px;
}
.col-md-4.m p:before {
    content: '';
    height: 5px;
    opacity: 0.8;
    left: 14px;
    bottom: 22px;
    position: relative;
    border: solid 1px #46586f;
}
.col-md-4.m p:after {
    content: '';
    height: 5px;
    opacity: 0.8;
    left: -13px;
    position: relative;
    border: solid 1px #46586f;
    top: 24px;
}
span.inr{
  font-size: 24px;
  font-weight: 600;
  color: rgb(0, 25, 58);
  position:relative;right: 15px;
}
span.change
{
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
  letter-spacing: 0.1px;
  color: rgb(15, 105, 227); 
  position: relative; 
  right: 5px;
}
span.callback
{
  color:#ffffff;
  position: relative;
  bottom: -5px;
}

.modal-content {
    width: 75%;
}
.btn.btn-info.btn-lg{
    position: relative;
    bottom: 115px;
    left: 37px;
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.57;
    letter-spacing: 0.1px;
    color: rgb(15, 105, 227);
    position: relative;
    right: 5px;
}
p.or
{
	color: #6f85a0 !important;
}
#myModal .modal-header i{
  background-color: #7F8B9C;
  border-radius: 20px;
  color: #fff;
  padding: 5px;
}
#myModal .modal-body{
  padding: 0px !important;
}

/*--------------callback form---------------*/

section.select-program .col-md-4 .modal-content{
    border: none !important;
    background-color: transparent !important;
    width: inherit !important;
    border-radius: unset !important;
}
section.select-program .form-info{
    width: 450px;
    box-shadow: 1px 3px 55px rgba(0, 0, 0, 0.6);
    border-top-right-radius: 43px !important;
}
section.select-program .form-info .card{
    border-top-right-radius: 10px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    overflow: hidden;
}
section.select-program .form-info .card-header{
    background-color: #ffffff!important;
}
section.select-program .form-info .card-header .card-title{
    font-size: 18px;
  letter-spacing: 0.3px;
  color: #00193a; 
}
section.select-program .form-info .card-header i{
  background-color: #7F8B9C;
  border-radius: 20px;
  color: #fff;
  padding: 5px;
  float: right;
}
section.select-program .form-info .card-body .card-text{
    opacity: 0.6;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.38;
  letter-spacing: 0.1px;
  color: #00193a;
}
section.select-program .form-info .form-group .form-control{
    border-radius: 28px !important;
  background-color: #ffffff;
  border: solid 1px #d9d9d9;
}
.form-control:focus{
    border: 1px solid #0f69e3 !important;
    box-shadow: unset!important;
}
section.select-program .form-info .row .col-md-4 .form-control{
    font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: 0.1px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}
section.select-program .form-info .row .col-md-12 .form-control{
    border-radius: 28px !important;
  background-color: #0f69e3;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
  padding: 15px 0px;
}