* {
    margin: 0px;
    padding: 0px;
}

a:hover {

    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}

p {
    font-weight: 500;
    font-size: 16px;
}

ul li {
    margin-bottom: 10px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

header {
    padding: 20px 0px;
}

header nav h1 {
    font-weight: 700;
    font-size: 33px;
}

header nav .collapse a {
    color: #00193a !important;
    font-weight: 500;
    padding: 15px 17px !important;
    text-transform: uppercase;
}


header nav .btn-elemento-light-blue {
    display: none;
}

header nav h1 span {
    font-weight: 400;
}

header nav.navbar {
    padding: 0px !important;
}

header nav .collapse {
    /*margin-left: 98px;*/
}

@media(min-width: 600px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
    }
    .mobile-only {
        display: none !important;
    }
}

@media(max-width: 599px) {
    .mobile-only {
        display: block !important;
    }
}

header nav .collapse img {
    max-width: 24px;
    float: left;
}

header nav .collapse .navbar-nav a:last-child {
    padding: 14px 15px!important;
    border-radius: 2.25rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #007bff !important;
}

header nav .collapse .navbar-nav .btn-outline-primary:hover {
    color: #fff !important;
}

header nav .collapse .navbar-nav .btn-outline-primary:focus {
    box-shadow: none !important;
}

header nav .collapse button:focus {
    box-shadow: unset !important;
}

.sticky {
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
}

.sticky+.banner {
    padding-top: 120px;
}





/*-----------Landing Page Elemento-----------*/

.landing-banner {
    background: linear-gradient(to top, #00193a, rgba(0, 25, 58, 0)), url(../images/bg_landing_header.jpg);
    background-size: cover;
    background-position: center center;
    padding: 120px 0px;
    position: relative;
    width: 100%;
    border-radius: 85%/0px 0px 140px 120px;
}

.banner-text {
    width: 690px;
    margin: 0px auto;
    text-align: center;
}

.landing-banner .btn-elemento-white {
    display: none;
}

.landing-banner .btn-elemento-transparent {
    display: none;
}

.banner-text h1 {
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 25, 58, 0.5);
}

.about-elemento .col-4 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    display: block;
    background: url('../images/dots grid.png');
}

.elemento-outcomes .carousel .carousel-inner .col-4 {
    flex: 100%;
    max-width: 100% !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.about-elemento .col-4 img {
    object-fit: contain;
    padding-top: 40px;
}

.about-elemento .col-4 .text-box {
    background-color: #fff;
    position: relative;
    padding: 5px 24px 24px 24px;
    top: 22px;
}

.about-elemento .col-4 .text-box h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: center;
    color: #00193a;
}

.about-elemento .col-4 .text-box p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.1px;
    text-align: center;
    color: #00193a;
}

.about-elemento {
    margin: 70px 0px;
    text-align: center;
}

.about-elemento .col-4 {
    border-top-right-radius: 10px;
    background-color: #ffffff;
    border: solid 1px #d9d9d9;
    margin-top: 20px;
}

.about-elemento h1 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: #00193a;
}

.about-elemento .about {
    width: calc(100% - 140px);
    margin: 30px auto;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.1px;
    text-align: center;
    color: #00193a;
}

.get-elemento {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding-top: 70px;
}

.btn-elemento-green {
    border-radius: 28px;
    background-color: #00e6ac;
    padding: 20px 65px;
    border: none;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
    color: #00193a;
}

.btn-elemento-orange:hover,
.btn-elemento-green:hover {
    box-shadow: 2px 2px 6px grey;
    border: none;
    color: #fff !important;
}

.counter {
    background-color: #00193a;
    padding: 50px 0px;
    color: #ffffff;
    text-align: center;
}

.counter .col-4 {
    padding: 0px 40px;
}

.counter .row .carousel {
    display: none;
}

.counter .col-4 h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: center;
}

.elemento-outcomes {
    margin: 70px 0px;
    text-align: center;
}

.elemento-outcomes .row .carousel {
    display: none;
}

.elemento-outcomes .col-4 {
    border-top-right-radius: 10px;
    background-color: #ffffff;
    border: solid 1px #d9d9d9;
    margin-top: 20px;
}

section .col-4 {
    max-width: 30.333333% !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    overflow: hidden;
}

.elemento-outcomes h1 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: #00193a;
    margin-bottom: 40px;
}

.elemento-outcomes .carousel .col-4 img {
    width: 100%;
    height: auto;
}

.elemento-outcomes .col-4 .text-box {
    background-color: #00193a;
    color: #fff;
    text-align: left;
    padding: 20px 35px;
}

.junior-robotics {
    background-image: url('../images/bg-junior-projects.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 70px 0px;
}

.robotics-program h1 {
    color: #ffffff !important;
}

.robotics-program h4 {
    font-size: 20px;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

.robotics-program h4:after {
    content: '';
    display: block;
    border-bottom: 3px solid #ffffff;
    padding-top: 30px;
    width: 75px;
    margin: 0px auto;
}

.robotics-program p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ffffff;
}

section.robotics-program .row .col-4 {
    margin-top: 30px;
}

section.robotics-program .row .carousel {
    display: none;
}

section.robotics-program .card-panel {
    background-color: #fff;
    border: 2px solid #eee;
    border-top-right-radius: 10px;
    overflow: hidden;
}

section.robotics-program .col-4:last-child .card-panel img {
    margin-bottom: 4px;
}

section.robotics-program .card-panel img {
    max-width: 346px;
}

section.robotics-program .body {
    padding: 20px;
}

section.robotics-program .body p {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
    text-align: left;
    line-height: 1.38;
    letter-spacing: 0.1px;
    color: #00193a;
}

section.robotics-program .get-elemento {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding-top: 70px;
}

.btn-elemento-blue {
    border-radius: 40px;
    background-color: rgba(0, 25, 58, 0.6);
    border: 1px solid #fff;
    color: #fff;
    padding: 20px 65px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
}





/*--------------callback form---------------*/

section.callback .modal-content {
    border: none !important;
    background-color: transparent !important;
    width: inherit !important;
    border-radius: unset !important;
}

section.callback .form-info {
    width: 450px;
    box-shadow: 1px 3px 55px rgba(0, 0, 0, 0.6);
    border-top-right-radius: 43px !important;
}

section.callback .form-info .card {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    overflow: hidden;
}

section.callback .form-info .card-header {
    background-color: #ffffff!important;
}

section.callback .form-info .card-header .card-title {
    font-size: 18px;
    letter-spacing: 0.3px;
    color: #00193a;
}

section.callback .form-info .card-header i {
    padding: 5px;
    float: right;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #7F8B9C;
    border: solid 1px #d9d9d9;
}

section.callback .form-info .card-body .card-text {
    opacity: 0.6;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.38;
    letter-spacing: 0.1px;
    color: #00193a;
}

section.callback .form-info .form-group .form-control {
    border-radius: 28px !important;
    background-color: #ffffff;
    border: solid 1px #d9d9d9;
}

.form-control:focus {
    border: 1px solid #0f69e3 !important;
    box-shadow: unset!important;
}

section.callback .form-info .row .col-md-4 .form-control {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.1px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}

section.callback .form-info .row .col-md-4 .form-control:focus {
    color: #0f69e3;
}

section.callback .form-info .row .col-md-12 .form-control {
    border-radius: 28px !important;
    background-color: #0f69e3;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
    padding: 15px 0px;
}

section.callback {
    background-color: #00193a;
    padding: 50px 0px;
}

section.callback .col-4:nth-child(1) {
    text-align: left;
    color: #fff;
}

section.callback .col-4:nth-child(1) h2 {
    font-size: 32px;
    letter-spacing: 0.3px;
    color: #ffffff;
}

section.callback .col-4:nth-child(1) p {
    opacity: 0.8;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #ffffff;
}

section.callback .col-4:nth-child(3) span:before {
    content: '';
    height: 20px;
    opacity: 0.8;
    bottom: 75px;
    left: 173px;
    position: absolute;
    border: solid 1px #ffffff;
}

section.callback .col-4:nth-child(3) {
    text-align: center;
    color: #fff;
    height: auto;
    margin: auto 0px;
}

section.callback .col-4:nth-child(3) span:after {
    content: '';
    height: 20px;
    opacity: 0.8;
    bottom: 25px;
    left: 173px;
    position: absolute;
    border: solid 1px #ffffff;
}

section.callback .col-4:nth-child(3) {
    padding-top: 4%;
    padding-bottom: 4%;
}

section.callback .col-4 button {
    margin-top: 20px;
}

.btn-elemento-light-blue {
    border-radius: 45px;
    background-color: #0f69e3;
    border: none;
    color: #fff;
    padding: 20px 30px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
    cursor: pointer;
}

.btn-elemento-light-blue:hover {
    -webkit-box-shadow: 2px 2px 6px grey;
    -moz-box-shadow: 2px 2px 6px grey;
    box-shadow: 2px 2px 6px grey;
}

.btn-elemento-light-blue img {
    max-width: 24px;
}

section.callback .row .col-4:nth-child(2) {
    display: none;
}

.btn-elemento-transparent {
    border-radius: 45px;
    background-color: transparent;
    border: solid 1px #ffffff;
    color: #fff;
    padding: 15px 40px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
}

.btn-elemento-transparent img {
    max-width: 24px;
}

.senior-robotics {
    background-image: url('../images/bg-senior-projects.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 70px 0px;
}

.btn-elemento-blue i {
    position: relative;
    top: 5px;
}

section .container>h1 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: #00193a;
    margin-bottom: 40px;
}

.testimonial .col-6:nth-child(even) {
    border-top-right-radius: 10px;
    border: solid 1px #d9d9d9;
    padding: 20px 30px 20px 30px;
}

.testimonial .clients {
    margin-top: 100px;
}

.testimonial .clients img {
    float: left;
}

.testimonial .clients p {
    padding-top: 15px;
    line-height: 1.38;
    letter-spacing: 0.1px;
    color: #00193a;
}

.testimonial .col-6 p {
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.1px;
    margin-bottom: 0px !important;
    color: #00193a;
}

.btn-elemento-orange {
    border-radius: 40px;
    background-color: #ff7338;
    border: 1px solid #fff;
    color: #fff;
    padding: 20px 65px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
}

section.why-robotics {
    margin: 70px 0px;
}

section.why-robotics figure>img {
    border-top-right-radius: 10px;
}

section.why-robotics .container .col-7 figure figcaption img {
    position: absolute;
    top: -60px;
}

section.why-robotics .container .col-7 figure {
    position: relative;
    border-top-right-radius: 10px;
    overflow: hidden;
}

section.why-robotics .container .col-7 figure figcaption {
    position: absolute;
    color: #fff;
    background-color: rgba(0, 25, 58, 0.5);
    bottom: 0px;
    padding: 30px 40px;
}

section.why-robotics .container .col-7 figure figcaption p {
    font-style: italic;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: #ffffff;
}

section.why-robotics .container .col-7 figure figcaption h3 {
    letter-spacing: 0.3px;
    color: #fe4146;
}

section.why-robotics .container .col-7 figure figcaption span {
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #ffffff;
}

section.why-robotics .container .col-5 .col-12 {
    border-top-right-radius: 10px;
    background-color: #ffffff;
    border: solid 1px #d9d9d9;
    padding: 18px 16px;
    margin-bottom: 20px;
}

section.why-robotics .container .col-5 .col-12 p {
    line-height: 1.38;
    letter-spacing: 0.2px;
    margin-bottom: 0px;
}

section.why-robotics .container .col-5 .col-12:nth-child(1) p span {
    color: #0f69e3;
}

section.why-robotics .container .col-5 .col-12:nth-child(2) p span {
    color: #00c795;
}

section.why-robotics .container .col-5 .col-12:nth-child(3) p span {
    color: #fe4146;
}

section.why-robotics .container .col-5 .col-12:nth-child(4) p span {
    color: #a6428d;
}

section.faq {
    padding: 70px 0px;
    background-color: #00193a;
}

section.faq h1 {
    color: #fff;
}

section.faq .container .col-6 {
    margin-bottom: 20px;
}

section.faq .container .col-6 .card {
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #ffffff !important;
}

section.faq .container .col-12 .card h6 {
    float: left;
}

section.faq .container .col-12 .card button {
    float: right;
    border-radius: 25px;
    background-color: #f0f0f0;
    border: solid 1px #d9d9d9;
}

section.faq .container .col-6 .card h6 {
    float: left;
}

section.faq .container .col-6 .card button {
    float: right;
    border-radius: 25px;
    background-color: #f0f0f0;
    border: solid 1px #d9d9d9;
}

section.faq .container .col-12 {
    margin-bottom: 20px;
}

section.faq .container .col-12 .card {
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

footer {
    background-color: #fff;
    padding-top: 70px;
}

footer .container .col-8 h1 {
    font-weight: 600;
    font-size: 35px;
}

footer .container .col-8 h1 span {
    font-weight: 300;
}

footer .container .col-8 .col-6 ul {
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.6;
    line-height: 1.6;
    letter-spacing: 0.2px;
    color: #00193a;
}

footer .container .col-8 .col-6 ul li {
    list-style: none;
}

footer .container .col-8 .col-6 ul li a {
    color: #00193a;
}

footer .container .col-8 .col-6 ul li a:hover {
    color: #007bff;
}

footer .container .col-4 {
    text-align: center;
    margin-bottom: 40px;
}

footer .container .col-4 p {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: center;
    color: #00193a;
}

footer .container .col-4 p span {
    display: block;
    color: #0f69e3;
}

footer .container .col-4 p strong {
    color: #00e6ac;
    display: none;
}

footer form .has-success {
    display: block !important;
}

footer form .has-warning {
    display: none !important;
}

footer .container .col-4 .sbscribe:after {
    content: '';
    display: block;
    clear: both;
}

footer .container .col-4 .sbscribe {
    text-align: left;
    border: 2px solid #eee;
    padding: 14px 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 100%
}

footer .container .col-4 .sbscribe:focus div.add-email {
    display: none;
}

footer .container .col-4 .sbscribe:focus div.subs-email {
    display: block;
}

footer .container .col-4 div div.add-email {
    float: right;
    color: #ffffff;
    background-color: #0f69e3;
    border-radius: 77px;
    display: block;
    padding: 3px 7px;
    font-size: 20px;
    position: absolute;
    right: 23px;
    border: none;
    top: 72px;
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: none;
}

footer .container .col-4 div div.subs-email {
    float: right;
    display: none;
    color: #ffffff;
    background-color: #00e6ac;
    border-radius: 77px;
    padding: 4px 8px;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 71px;
    border: none;
}

footer .container .col-4 div i {
    position: relative;
    top: 3px;
}

footer .container .col-4 .social {
    padding: 20px 0px;
    color: #fff;
}

footer .container .col-4 .social span {
    margin: 0px 10px;
}

footer .container .col-4 .social span:first-child {
    background-color: #34589D;
    padding: 18px 23px;
    border-radius: 50px;
}

footer .container .col-4 .social span:nth-child(2) {
    background-color: #55ACEE;
    padding: 19px 20px;
    border-radius: 50px;
}

footer .container .col-4 .social span:nth-child(3) {
    background-color: #DC4E41;
    padding: 18px 17px;
    border-radius: 50px;
}

footer .container .col-4 .social span:last-child {
    background-color: #BD081C;
    padding: 18px 21px;
    border-radius: 50px;
}

footer .copy {
    background-color: #f2f3f5;
}

footer .copyright {
    padding: 20px 0px;
    margin-bottom: 0px;
    opacity: 0.6;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.2px;
    text-align: center;
    color: #00193a;
}