* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a:hover {
    text-decoration: none;
}

ul li {
    margin-bottom: 10px;
}

h1 {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

header {
    padding: 20px 0px;
}

header nav h1 {
    font-weight: 700;
    font-size: 33px;
}

header nav .collapse a {
    color: #00193a !important;
    font-weight: 500;
    padding: 15px 17px !important;
    text-transform: uppercase;
}

header nav .btn-elemento-light-blue {
    display: none;
}

header nav h1 span {
    font-weight: 400;
}

header nav.navbar {
    padding: 0px !important;
}

header nav .collapse {
    /*margin-left: 98px;*/
}

header nav .collapse img {
    max-width: 24px;
    float: left;
}

header nav .collapse .navbar-nav a:last-child {
    padding: 14px 15px!important;
    border-radius: 2.25rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #007bff !important;
}

header nav .collapse .navbar-nav .btn-outline-primary:hover {
    color: #fff !important;
}

header nav .collapse .navbar-nav .btn-outline-primary:focus {
    box-shadow: none !important;
}

header nav .collapse button:focus {
    box-shadow: unset !important;
}

.sticky {
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
}

.sticky+.banner {
    padding-top: 140px;
}


/*---------------------Select Program------------------------------------*/


/*---------------------Select Program------------------------------------*/


/*---------------------Select Program------------------------------------*/


/*---------------------Select Program------------------------------------*/


/*---------------------Select Program------------------------------------*/

.btn-elemento-light-blue {
    border-radius: 45px;
    background-color: #0f69e3;
    border: none;
    color: #fff;
    padding: 20px 30px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
}

.btn-elemento-light-blue img {
    max-width: 24px;
    float: left;
}

section.pick-program {
    padding: 50px 0px;
    background-color: #00193a;
}

section.pick-program .programs h3 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}

section.pick-program .programs p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 20px;
}

section.pick-program .programs {
    padding-bottom: 40px;
}

section.pick-program .programs p:after {
    content: '';
    display: block;
    border: solid 1px #a5a2a2;
    width: 100px;
    margin: 0px auto;
    position: relative;
    top: 20px;
}

section.pick-program .container .carousel {
    display: none;
}

section.pick-program .container>.row>.col-6 {
    flex: 0 0 48%;
    max-width: 48%;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 40px;
}

section.pick-program .container>.row>.col-6:first-child {
    margin-right: 22px;
    background: linear-gradient(89deg, #00d39d 4%, #0f69e3 106%) left bottom #fff no-repeat;
    background-size: 100% 10px;
}

section.pick-program .container>.row>.col-6:nth-child(2) {
    margin-left: 22px;
    background: linear-gradient(269deg, #ff7338 4%, #bf60a7 106%) left bottom #fff no-repeat;
    background-size: 100% 10px;
}

section.pick-program .container>.row .col-6 .row:first-child {
    padding-bottom: 45px;
}

section.pick-program .container>.row .col-6 .row:last-child {
    padding-top: 45px;
}

section.pick-program .container>.row .col-6 .row:first-child .col-6:last-child {
    margin: auto 0px;
    position: relative;
    right: 53px;
    padding-right: 0px;
    padding-left: 0px;
}

section.pick-program .row .col-6 .row .col-6:last-child h1 {
    font-size: 44px;
    font-weight: bold;
    text-align: right;
    color: #00193a;
    margin-bottom: 0px;
}

section.pick-program .row .col-6 .row:first-child .col-6:last-child p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.1px;
    text-align: right;
    color: #00193a;
    margin-bottom: 0px;
}

section.pick-program .row .col-6 .row:last-child .col-6:first-child p {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.1px;
    color: #00193a;
}

section.pick-program .row .col-6 .row:last-child .col-6:first-child h3 {
    margin-bottom: 0px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #00193a;
}

section.pick-program .row .col-6 .row:last-child .col-6:first-child button {
    background-color: transparent;
    border: none;
    font-weight: 600;
    line-height: 1.57;
    letter-spacing: 0.1px;
    color: #0f69e3;
}

section.pick-program .row .col-6 .row:last-child .col-6:last-child .btn-elemento-blue {
    border-radius: 45px;
    background-color: #0f69e3;
    border: none;
    color: #fff;
    padding: 15px 40px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
}

section.pick-program .row .col-6 .row:last-child .col-6:last-child .btn-elemento-light-pink {
    border-radius: 45px;
    background-color: #bf60a7;
    border: none;
    color: #fff;
    padding: 15px 40px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
}

section.pick-program .row .col-6 .row:last-child .col-6:last-child {
    margin: auto 0px;
    text-align: center;
}


/*--------------callback form---------------*/

section.callback .modal-content {
    border: none !important;
    background-color: transparent !important;
    width: inherit !important;
    border-radius: unset !important;
}

section.callback .form-info {
    width: 450px;
    box-shadow: 1px 3px 55px rgba(0, 0, 0, 0.6);
    border-top-right-radius: 43px !important;
}

section.callback .form-info .card {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    overflow: hidden;
}

section.callback .form-info .card-header {
    background-color: #ffffff!important;
}

section.callback .form-info .card-header .card-title {
    font-size: 18px;
    letter-spacing: 0.3px;
    color: #00193a;
}

section.callback .form-info .card-header i {
    padding: 5px;
    float: right;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #7F8B9C;
    border: solid 1px #d9d9d9;
}

section.callback .form-info .card-body .card-text {
    opacity: 0.6;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.38;
    letter-spacing: 0.1px;
    color: #00193a;
}

section.callback .form-info .form-group .form-control {
    border-radius: 28px !important;
    background-color: #ffffff;
    border: solid 1px #d9d9d9;
}

.form-control:focus {
    border: 1px solid #0f69e3 !important;
    box-shadow: unset!important;
}

section.callback .form-info .row .col-md-4 .form-control {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.1px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}

section.callback .form-info .row .col-md-4 .form-control:focus {
    color: #0f69e3;
}

section.callback .form-info .row .col-md-12 .form-control {
    border-radius: 28px !important;
    background-color: #0f69e3;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
    padding: 15px 0px;
}

section.callback {
    background-color: #00193a;
    padding: 50px 0px;
}

section.callback .col-4:nth-child(1) {
    text-align: left;
    color: #fff;
}

section.callback .col-4:nth-child(1) h2 {
    font-size: 32px;
    letter-spacing: 0.3px;
    color: #ffffff;
}

section.callback .col-4:nth-child(1) p {
    opacity: 0.8;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #ffffff;
}

section.callback .col-4:nth-child(3) span:before {
    content: '';
    height: 20px;
    opacity: 0.8;
    bottom: 75px;
    left: 190px;
    position: absolute;
    border: solid 1px #ffffff;
}

section.callback .col-4:nth-child(3) {
    text-align: center;
    color: #fff;
    height: auto;
    margin: auto 0px;
}

section.callback .col-4:nth-child(3) span:after {
    content: '';
    height: 20px;
    opacity: 0.8;
    bottom: 25px;
    left: 190px;
    position: absolute;
    border: solid 1px #ffffff;
}

section.callback .col-4:nth-child(3) {
    padding-top: 4%;
    padding-bottom: 4%;
}

section.callback .col-4 button {
    margin-top: 20px;
}

.btn-elemento-transparent {
    border-radius: 45px;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 20px 30px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
}

.btn-elemento-transparent img {
    max-width: 24px;
    float: left;
    margin-right: 8px;
}

.btn-elemento-transparent span {
    position: relative;
    top: 5px;
}

.modal-content {
    border-top-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.modal-content .modal-header i {
    background-color: #7f8b9c;
    border-radius: 20px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}

.modal-body {
    padding: 0px;
    border-radius: 0px;
    border: none;
}

section.callback .row .col-4:nth-child(2) {
    display: none;
}

.btn-elemento-transparent {
    border-radius: 45px;
    background-color: transparent;
    border: solid 1px #ffffff;
    color: #fff;
    padding: 15px 40px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
}

.btn-elemento-transparent img {
    max-width: 24px;
}


footer {
    background-color: #fff;
    padding-top: 70px;
}

footer .container .col-8 h1 {
    font-weight: 600;
    font-size: 35px;
}

footer .container .col-8 h1 span {
    font-weight: 300;
}

footer .container .col-8 .col-6 ul {
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.6;
    line-height: 1.6;
    letter-spacing: 0.2px;
    color: #00193a;
}

footer .container .col-8 .col-6 ul li {
    list-style: none;
}

footer .container .col-8 .col-6 ul li a {
    color: #00193a;
}

footer .container .col-8 .col-6 ul li a:hover {
    color: #007bff;
}

footer .container .col-4 {
    text-align: center;
    margin-bottom: 40px;
}

footer .container .col-4 p {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: center;
    color: #00193a;
}

footer .container .col-4 p span {
    display: block;
    color: #0f69e3;
}

footer .container .col-4 p strong {
    color: #00e6ac;
    display: none;
}

footer form .has-success {
    display: block !important;
}

footer form .has-warning {
    display: none !important;
}

footer .container .col-4 .sbscribe:after {
    content: '';
    display: block;
    clear: both;
}

footer .container .col-4 .sbscribe {
    text-align: left;
    border: 2px solid #eee;
    padding: 14px 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 100%
}

footer .container .col-4 .sbscribe:focus div.add-email {
    display: none;
}

footer .container .col-4 .sbscribe:focus div.subs-email {
    display: block;
}

footer .container .col-4 div div.add-email {
    float: right;
    color: #ffffff;
    background-color: #0f69e3;
    border-radius: 77px;
    display: block;
    padding: 3px 7px;
    font-size: 20px;
    position: absolute;
    right: 23px;
    border: none;
    top: 72px;
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: none;
}

footer .container .col-4 div div.subs-email {
    float: right;
    display: none;
    color: #ffffff;
    background-color: #00e6ac;
    border-radius: 77px;
    padding: 4px 8px;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 71px;
    border: none;
}

footer .container .col-4 div i {
    position: relative;
    top: 3px;
}

footer .container .col-4 .social {
    padding: 20px 0px;
    color: #fff;
}

footer .container .col-4 .social span {
    margin: 0px 10px;
}

footer .container .col-4 .social span:first-child {
    background-color: #34589D;
    padding: 18px 23px;
    border-radius: 50px;
}

footer .container .col-4 .social span:nth-child(2) {
    background-color: #55ACEE;
    padding: 19px 20px;
    border-radius: 50px;
}

footer .container .col-4 .social span:nth-child(3) {
    background-color: #DC4E41;
    padding: 18px 17px;
    border-radius: 50px;
}

footer .container .col-4 .social span:last-child {
    background-color: #BD081C;
    padding: 18px 21px;
    border-radius: 50px;
}

footer .copy {
    background-color: #f2f3f5;
}

footer .copyright {
    padding: 20px 0px;
    margin-bottom: 0px;
    opacity: 0.6;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.2px;
    text-align: center;
    color: #00193a;
}
